doctype html
html(lang="ko-KR")
  head
    meta(charset="UTF-8")
    title 동민님의 블로그
    link(
      rel="stylesheet",
      href="https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css"
    )
    link(rel="stylesheet", href="../scss/style.css")
    link(
      rel="stylesheet",
      href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.css",
      integrity="sha512-lCk0aEL6CvAGQvaZ47hoq1v/hNsunE8wD4xmmBelkJjg51DauW6uVdaWEJlwgAE6PxcY7/SThs1T4+IMwwpN7w==",
      crossorigin="anonymous"
    )
    script(
      src="https://code.jquery.com/jquery-3.6.3.min.js",
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=",
      crossorigin="anonymous"
    )
    script(
      src="https://code.jquery.com/ui/1.13.2/jquery-ui.js",
      integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=",
      crossorigin="anonymous"
    )
    script(defer="defer", charset="UTF-8", src="../js/requestFullscreen.js")
    script(defer="defer", charset="UTF-8", src="../js/iconFunction.js")
  body
    //img#bootingWindow.bootingWindow(
    //  src="../../img/shutdown.svg",
    //  alt="turn on and turn off icon"
    //)
    //img#bigWindowIcon.bigWindowIcon(
    //  src="../../img/Windows_10x_Icon.png",
    //  alt="window main logo"
    //)
    //#loadingCircle.xi-spinner-2.xi-spin.loadingCircle
    //h1 블로그에 방문하신 것을 환영합니다.<br />Welcome to Blog
    //h2 거의 다 준비 되었습니다.
    //h3 PC를 끄지 마세요.
    #loginPage.loginPage
      #imgCircle.imgCircle
      button#loginInput.loginInput Login
    main.bootingObject
      section.mainWindow
        #alertWindow.alertWindow
          .alertBar
            #alertWindowClose.xi-close.alertWindowClose
          p 블로그에 오신 것을 환영합니다. 자기소개 폴더와 포트폴리오 폴더를 확인해주세요.
        #introduceSelfMD.iconDefault.iconDBLClick
          img(src="../../img/icons8-file-folder-48.png", alt="test")
          p 자기소개
        #portfolioFolder.iconDefault.iconDBLClick
          img(src="../../img/icons8-file-folder-48.png", alt="test")
          p 포트폴리오
        #introduceSelfModal.clickObject
          .modalHandle
            .modalBar
              .titleIntroduceSelf 자기소개
                #introduceSelfModalClose2.xi-close.modalBarIcon.closeModal
            #introduceSelfModalClose.xi-close.closeModal
            .xi-checkbox-blank.fullScreenModal
            .xi-minus.minifyModal
          .modalToolBar
            .xi-plus-circle-o.modalToolBarNew &nbsp;&nbsp;새로 만들기
          .modalInterface
            .modalInterfaceIcon.xi-backspace
            .modalInterfaceIcon.xi-backspace.reverseObject
            input.modalInterfaceDirLocate(
              type="text",
              value="C:\\Users\\user\\Desktop\\자기소개"
            )
          .modalFileSection
            #whoAmIMarkdown.iconDefault.chromeFrame
              img(src="../../img/Visual_Studio_Code_1.35_icon.svg", alt="test")
              p whoAmI.md
            #toolFolderIcon.iconDefault.iconDBLClick
              img(src="../../img/icons8-file-folder-48.png", alt="test")
              p 도구
        #portfolioModal.clickObject
          .modalHandle
            .modalBar
              .titleIntroduceSelf 포트폴리오
                #portfolioModalClose2.xi-close.modalBarIcon.closeModal
            #portfolioModalClose.xi-close.closeModal
            .xi-checkbox-blank.fullScreenModal
            .xi-minus.minifyModal
          .modalToolBar
            .xi-plus-circle-o.modalToolBarNew &nbsp;&nbsp;새로 만들기
          .modalInterface
            .modalInterfaceIcon.xi-backspace
            .modalInterfaceIcon.xi-backspace.reverseObject
            input.modalInterfaceDirLocate(
              type="text",
              value="C:\\Users\\user\\Desktop\\자기소개"
            )
            .modalFileSection
              //a#arrayChrome.chromeFrame(
              //  href="http://kkms4001.iptime.org/~c17st11/portfolio/array_project/ver_alpha0.002/main/html/",
              //  target="_blank",
              //  title="행렬 계산기"
              //)
              #arrayChrome.iconDefault.chromeFrame
                img(
                  src="../../img/Google_Chrome_icon_(February_2022).svg",
                  alt="portfolio"
                )
                p 행렬계산기
              //a(
              //  href="http://kkms4001.iptime.org/~c17st11/portfolio/array_project/doc/2023_01_30_array_project.pdf",
              //  target="_blank",
              //  title="행렬 계산기"
              //)
              #arrayPDF.iconDefault.chromeFrame
                img(src="../../img/icons/pdf.svg", alt="portfolio")
                p 행렬계산기.pdf
              //a(
              //  href="http://kkms4001.iptime.org/~c17st11/portfolio/Jinsu/main/html/",
              //  target="_blank",
              //  title="진수 계산기"
              //)
              #jinsuChrome.iconDefault.chromeFrame
                img(
                  src="../../img/Google_Chrome_icon_(February_2022).svg",
                  alt="portfolio"
                )
                p 진수계산기
              //a(href="", target="_blank", title="진수 계산기")
              #jinsuPDF.iconDefault.chromeFrame
                img(src="../../img/icons/pdf.svg", alt="portfolio")
                p 진수계산기.pdf
        #whatCanYouDo.clickObject
          .modalHandle
            .modalBar
              .titleIntroduceSelf 도구
                #whatCanYouDoClose2.xi-close.modalBarIcon.closeModal
            #whatCanYouDoClose.xi-close.closeModal
            .xi-checkbox-blank.fullScreenModal
            .xi-minus.minifyModal
          .modalToolBar
            .xi-plus-circle-o.modalToolBarNew &nbsp;&nbsp;새로 만들기
          .modalInterface
            .modalInterfaceIcon.xi-backspace
            .modalInterfaceIcon.xi-backspace.reverseObject
            input.modalInterfaceDirLocate(
              type="text",
              value="C:\\Users\\user\\Desktop\\자기소개\\도구"
            )
            .modalFileSection
              //a(href="https://www.w3.org/", target="_blank", title="html 사이트")
              .iconDefault
                img(src="../../img/icons/html.svg", alt="test")
                p HTML.html
              //a(href="https://www.w3.org/", target="_blank", title="xhtml 사이트")
              .iconDefault
                img(src="../../img/icons/html.svg", alt="xhtml icons")
                p XHTML.xhtml
              //a(
              //  href="https://www.w3.org/TR/CSS/#css",
              //  target="_blank",
              //  title="CSS 사이트"
              //)
              .iconDefault
                img(src="../../img/icons/css.svg", alt="test")
                p CSS.css
              //a(
              //  href="https://www.ecma-international.org/publications-and-standards/standards/ecma-262/",
              //  target="_blank",
              //  title="JavaScript 사이트"
              //)
              .iconDefault
                img(src="../../img/icons/javascript.svg", alt="test")
                p JavaScript.js
              //a(
              //  href="https://www.typescriptlang.org/",
              //  target="_blank",
              //  title="TypeScript 사이트"
              //)
              .iconDefault
                img(
                  src="../../img/icons/typescript.svg",
                  alt="typescript icon"
                )
                p TypeScript.ts
              //a(
              //  href="https://jquery.com/",
              //  target="_blank",
              //  title="jQuery 사이트"
              //)
              .iconDefault
                img(src="../../img/jquery-4.svg", alt="jQuery icon")
                p jQuery.js
              //a(
              //  href="https://jqueryui.com/",
              //  target="_blank",
              //  title="jQuery ui 사이트"
              //)
              .iconDefault
                img(src="../../img/jquery-ui.svg", alt="jQuery ui icon")
                p jQuery UI.js
              //a(
              //  href="https://sass-lang.com/",
              //  target="_blank",
              //  title="scss 사이트"
              //)
              .iconDefault
                img(src="../../img/icons/sass.svg", alt="test")
                p SCSS.scss
              //a(
              //  href="https://sass-lang.com/",
              //  target="_blank",
              //  title="sass 사이트"
              //)
              .iconDefault
                img(src="../../img/icons/sass.svg", alt="test")
                p SASS.sass
              //a(
              //  href="https://pugjs.org/api/getting-started.html",
              //  target="_blank",
              //  title="PUG 사이트"
              //)
              .iconDefault
                img(src="../../img/icons/pug.svg", alt="test")
                p PUG.pug
              //a(
              //  href="https://mozilla.github.io/nunjucks/",
              //  target="_blank",
              //  title="nunjucks 사이트"
              //)
              .iconDefault
                img(src="../../img/icons/nunjucks.svg", alt="test")
                p Nunjucks.njk
              //a(
              //  href="https://www.mysql.com/",
              //  target="_blank",
              //  title="MySQL 사이트"
              //)
              .iconDefault
                img(src="../../img/icons/database.svg", alt="test")
                p MySQL.sql
              //a(
              //  href="https://mariadb.org/",
              //  target="_blank",
              //  title="MariaDB 사이트"
              //)
              .iconDefault
                img(src="../../img/icons/database.svg", alt="MariaDB")
                p MariaDB.sql
              //a(
              //  href="https://www.java.com/ko/",
              //  target="_blank",
              //  title="JAVA 사이트"
              //)
              .iconDefault
                img(src="../../img/icons/java.svg", alt="test")
                p Java.java
              //a(
              //  href="https://www.json.org/json-en.html",
              //  target="_blank",
              //  title="JSON 사이트"
              //)
              .iconDefault
                img(src="../../img/icons/json.svg", alt="test")
                p JSON.json
              //a(
              //  href="https://nodejs.org/ko/",
              //  target="_blank",
              //  title="Node.js 사이트"
              //)
              .iconDefault
                img(src="../../img/icons/nodejs.svg", alt="test")
                p Node.js
              //a(
              //  href="https://www.python.org/",
              //  target="_blank",
              //  title="python 사이트"
              //)
              .iconDefault
                img(src="../../img/icons/python.svg", alt="test")
                p Python.py
              //a(
              //  href="https://www.ruby-lang.org/en/",
              //  target="_blank",
              //  title="Ruby 사이트"
              //)
              .iconDefault
                img(src="../../img/icons/ruby.svg", alt="ruby icon")
                p Ruby.rb
              //a(
              //  href="https://en.cppreference.com/w/",
              //  target="_blank",
              //  title="C 사이트"
              //)
              .iconDefault
                img(src="../../img/icons/c.svg", alt="c icon")
                p C.c
              //a(
              //  href="https://en.cppreference.com/w/",
              //  target="_blank",
              //  title="C++ 사이트"
              //)
              .iconDefault
                img(src="../../img/icons/cpp.svg", alt="C++ icon")
                p C++.cpp
              //a(
              //  href="https://www.r-project.org/",
              //  target="_blank",
              //  title="R 사이트"
              //)
              .iconDefault
                img(src="../../img/icons/r.svg", alt="test")
                p R.r
              //a(
              //  href="https://www.w3.org/2000/svg",
              //  target="_blank",
              //  title="SVG 사이트"
              //)
              .iconDefault
                img(src="../../img/icons/svg.svg", alt="test")
                p SVG.svg
              //a(href="https://www.vim.org/", target="_blank", title="VIM 사이트")
                //--------------- tool ------------
              .iconDefault
                img(src="../../img/icons/vim.svg", alt="test")
                p Vim
              //a(
              //  href="https://app.diagrams.net/",
              //  target="_blank",
              //  title="drawio 사이트"
              //)
              .iconDefault
                img(src="../../img/icons/drawio.svg", alt="test")
                p Diagrams
              //a(
              //  href="https://www.figma.com/",
              //  target="_blank",
              //  title="figma 사이트"
              //)
              .iconDefault
                img(src="../../img/icons/figma.svg")
                p figma
              //a(
              //  href="https://learn.microsoft.com/ko-kr/powershell/",
              //  target="_blank",
              //  title="powershell 사이트"
              //)
              .iconDefault
                img(
                  src="../../img/icons/powershell.svg",
                  alt="powershell icon"
                )
                p powershell
              //a(
              //  href="https://www.gnu.org/software/bash/",
              //  target="_blank",
              //  title="bash 사이트"
              //)
              .iconDefault
                img(src="../../img/icons/console.svg", alt="bash icon")
                p bash
              //a(
              //  href="https://code.visualstudio.com/",
              //  target="_blank",
              //  title="visual studio code 사이트"
              //)
              .iconDefault
                img(
                  src="../../img/Visual_Studio_Code_1.35_icon.svg",
                  alt="visual studio code icon"
                )
                p VSC
              //a(
              //  href="https://apps.microsoft.com/store/detail/windows-notepad/9MSMLRH6LZF3",
              //  target="_blank",
              //  title="메모장 사이트"
              //)
              .iconDefault.notepadIcon
                img(src="../../img/Notepad_Win11.png", alt="notepad icon")
                p NOTEPAD
              //a(
              //  href="https://www.adobe.com/kr/",
              //  target="_blank",
              //  title="adobe illust 사이트"
              //)
              .iconDefault
                img(
                  src="../../img/Adobe_Illustrator_CC_icon.svg",
                  alt="Adobe Illustrator CC icon"
                )
                p Illustrator
              //a(
              //  href="https://www.adobe.com/kr/",
              //  target="_blank",
              //  title="Photoshop 사이트"
              //)
              .iconDefault
                img(
                  src="../../img/Adobe_Photoshop_CC_icon.svg",
                  alt="Adobe Photoshop CC icon"
                )
                p Photoshop
              //a(
              //  href="https://www.adobe.com/kr/",
              //  target="_blank",
              //  title="XD 사이트"
              //)
              .iconDefault
                img(src="../../img/Adobe_XD_CC_icon.svg", alt="Adobe XD icon")
                p XD
              //a(
              //  href="https://www.notion.so/ko-kr",
              //  target="_blank",
              //  title="notion 사이트"
              //)
              .iconDefault
                img(src="../../img/Notion-logo.svg", alt="Notion icon")
                p Notion
        #chromeObject.clickObject.chromeObject
          .modalHandle
            .modalBar
              .titleIntroduceSelf
                #arrayProjectClose2.xi-close.modalBarIcon.closeModal
            #arrayProjectClose.xi-close.closeModal
            .xi-checkbox-blank.fullScreenModal
            .xi-minus.minifyModal
          .modalInterface
            .modalInterfaceIcon.xi-backspace
            .modalInterfaceIcon.xi-backspace.reverseObject
            input.modalInterfaceDirLocate(type="text", value="")
          iframe(src="")
      nav
        img#windowIcon.windowIcon(
          src="../../img/Windows_10x_Icon.png",
          alt="window icon"
        )
        img#searchIcon.searchIcon(
          src="../../img/search.svg",
          alt="window search icon"
        )
        img#taskViewIcon.taskViewIcon(
          src="../../img/taskView.svg",
          alt="window task view icon"
        )
        img#folderIcon.folderIcon(
          src="../../img/icons8-file-folder-48.png",
          alt="window folder icon"
        )
        img#chromeIcon.chromeIcon(
          src="../../img/Google_Chrome_icon_(February_2022).svg",
          alt="chrome icon"
        )
        #timeObject.timeObject
        .xi-wifi.toolBarObject
        .xi-volume-up.toolBarObject
        .toolBarObject A
        .toolBarObject.xi-angle-up
